**/.DS_Store

.gradle
**/*.iml

#### ignore all .idea files ...
**/.idea/*

#### except

# Version Control configuration for your project
**/.idea/!vcs.xml

# how IDEA should treat the text files in your project
**/.idea/!encodings.xml

# automatic code formatting
**/.idea/!codeStyleSettings.xml

# project specific words
**/.idea/!dictionaries

!copyrights
!sqldialects.xml

**/target
**/node_modules
**/.mvn

